* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);

  }
  li{ 
    font-style: italic, bold;
  }
  body{
    margin:0px
  }
  #body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  #clickable{
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    color: rgb(1, 238, 255);
  }
  #header {
    min-height: 100px;
    background: rgb(224, 221, 221);
    outline-style: auto;
    outline: 5px, black;
    box-shadow: 10px 10px 1pt black;
    outline-width: 1px;
    border:none
  }
#footer{
  background-color: rgb(219, 215, 215);
  min-height: 50px;
}
  #footer #font{
    color: grey;
    opacity: 40%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
  }
#github{
  color: grey;
  opacity: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 50%;
    outline: black;
  display:block;
  background:none;
    left: 0;
    right: 100%;
}
code{
  font-family: monospace;
}