<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}           
<div id ="body">
    <h1>Linear Search</h1>
    <div id="code"></div> 
    <p>A linear search </p>
    <h2>Demonstration:</h2>
   <code>num = [1, 4, 5, 2, 9]</code> <br>
<label>aaaa</label>
<input type="text">
</div>
    {% include 'footer.html' %}

</body>
</html>